body {
  background-color: #f3deaf;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

header a {
  color: #000000;
  text-decoration: none;
}

header a:hover {
  color: #000000;
  text-decoration: underline;
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: auto;
  margin-bottom: 1em;
  justify-content: center;
}

footer a svg {
  width: 20px;
  height: 20px;
}
