html {
  background-color: #f3deaf;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

header a {
  color: #333333;
  text-decoration: none;
}

header a:hover {
  color: #000000;
}

a {
  color: #555555;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #000000;
}

footer {
  display: flex;
  gap: 1rem;
  margin-top: auto;
  margin-bottom: 1em;
  justify-content: center;
}

footer a {
  color: #333333;
  transition: color 0.2s ease;
}

footer a:hover {
  color: #000000;
}

footer a svg {
  width: 20px;
  height: 20px;
}
