---
import Github from "public/github.svg";
import Linkedin from "public/linkedin.svg";
import X from "public/x.svg";
---

<footer
  class="flex gap-4 mt-auto mb-[1em] justify-center no-underline transition-colors duration-200"
>
  <a href="https://github.com/aashish2057" aria-label="GitHub">
    <Github
      class="w-[20px] h-[20px] hover:text-foreground-strong-light dark:hover:text-foreground-strong-dark"
    />
  </a>
  <a href="https://x.com/aashish__10" aria-label="X">
    <X
      class="w-[20px] h-[20px] hover:text-foreground-strong-light dark:hover:text-foreground-strong-dark"
    />
  </a>
  <a href="https://www.linkedin.com/in/aashish2057/" aria-label="Linkedin">
    <Linkedin
      class="w-[20px] h-[20px] hover:text-foreground-strong-light dark:hover:text-foreground-strong-dark"
    />
  </a>
</footer>
